* {
    margin: 25px;
    padding: 0
}

body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh;
    margin: 0;
}

#loginButton {
    background-color: lightblue;
    font-size: 24px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
}

#loginButton:hover {
    background-color: lightcyan;
}

#screen {
    background-color: darkgray;
    border: 10px solid black;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 70%;
}

#buttons {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#buttons button {
    background-color: lightgray;
    font-size: 40px;
    font-weight: bold;
    border: 10px solid black;
    width: 400px;
    transition: 40ms;
}
#buttons button:hover {
    cursor: pointer;
    background-color: grey;
    transform: scale(1.05);
}
#buttons button:active {
     background-color: grey;
     transform: scale(0.97);
 }